<!DOCTYPE HTML>
<html>
<head>

</head>
<body>
    {% if greeting %}
    <div>{{ greeting }}</div>
    {%  else %}
    <form action="" method="post" enctype="multipart/form-data">
        <input name="name1" type="text">
        <input name="name2" type="text">
        <input name="name3" type="text">
        <input name="file1" type="file" multiple>
        <input name="file2" type="file">
        <input name="file3" type="file">
        <input name="file4" type="file">
        <input name="file5" type="file">
        <input name="file6" type="file">
        <input name="file7" type="file">
        <input name="file8" type="file">
        <input name="file9" type="file">
        <input value="Submit" type="submit">
        {{ csrf_form_html() }}
    </form>
    {% endif %}
</body>
</html>
